[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = "*"
playwright = "*"

[dev-packages]
pytest-asyncio = "*"
pytest = "*"
pylint = "*"

[requires]
python_version = "3.10"
