[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = "*"
playwright = "*"
pylint = "*"
pytest-asyncio = "*"
requests = "*"

[dev-packages]
pytest-asyncio = "*"
pytest = "*"
pylint = "*"
autopep8 = "*"
bpython = "*"

[requires]
python_version = "3.10"
